.weather {
    --weatherInputPaddingOffsetX: 15px;
    --weatherButtonSquareSize: 48px;

    width: 325px;
    height: 500px;
    padding: 20px;
    z-index: 1;
    background-image: linear-gradient(
        to top,
        var(--color-dark-15),
        var(--color-light-15)
    );
    border-radius: var(--border-radius);
    backdrop-filter: var(--backdrop-filter);
    overflow-y: hidden;
    transition-duration: 0.6s;

    &:not(.is-load) {
        height: 88px;
    }
}

.weather__search-city-form {
    position: relative;
    margin-bottom: 25px;
}

.weather__input {
    width: 100%;
    padding: 10px;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-dark-15);
    border: 2px solid transparent;
    border-radius: var(--border-radius-l);

    &:focus {
        outline: none;
        border-color: var(--color-dark-15);
    }

    &::placeholder {
        color: var(--color-light-75);
    }

    &:not(:placeholder-shown) {
        padding-right: var(--weatherButtonSquareSize);
    }
}

.weather__button {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--weatherButtonSquareSize);
    height: var(--weatherButtonSquareSize);
    padding: 0;
    color: var(--color-white);
    background-color: transparent;
    border: none;
}

.weather__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    opacity: 0;
    scale: 0;

    &.fade-in {
        animation-name: fade-in;
        animation-fill-mode: forwards;
        animation-duration: var(--transition-duration-long);
        animation-delay: var(--transition-duration-long);
    }
}

.weather__location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.weather__location-name {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: 600;

    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background: url('../assets/icons/geo.svg') center/contain no-repeat;
    }
}

.weather__current {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.weather__info {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 5px;
}

.weather__temperature {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
}

.weather__condition {
    font-size: 24px;
}

.weather__metrics-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.weather__metrics-item {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.weather__metrics-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;
}

.weather__metrics-value {
    font-weight: 600;
}

.weather__forecast-list {
    display: flex;
    column-gap: 15px;
    padding-bottom: 15px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
        border-radius: var(--border-radius-l);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--color-dark-15);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-dark-10);
    }
}

.weather__forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding: 10px;
    min-width: 70px;
    background-color: var(--color-light-10);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
    user-select: none;

    &:hover {
        background-color: var(--color-light-15);
    }
}

.weather__forecast-date {
    font-size: 14px;
}

@keyframes fade-in {
    to {
        opacity: 1;
        scale: 1;
    }
}